/* make body background stretch to full screen with a gradient (use vanilla css)*/
body {
  background: #191919;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Jetbrains Mono", Helvetica, sans-serif;
}

/* center div class centered*/
.centered {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.heading {
  font-size: 35 px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 5 auto;
  width: 100%;
}

.stats {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

#btnGainExp5 {
  background-color: #d604dd; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Jetbrains Mono", Helvetica, sans-serif;
  font-size: 10px;
}
#btnGainExp15 {
  background-color: #6c0275; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Jetbrains Mono", Helvetica, sans-serif;
  font-size: 10px;
}
#btnLoseExp5 {
  background-color: #37004e; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Jetbrains Mono", Helvetica, sans-serif;
  font-size: 10px;
}
