/* make body background stretch to full screen with a gradient (use vanilla css)*/
body {
  background: #191919;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* center div class centered*/
.centered {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.heading {
  font-size: 35 px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 5 auto;
  width: 100%;
}
.stats {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
